<html lang="en">
  <head>
    <title>😘Login</title>
   {{>header}}
  </head>
  <body>
    {{>navbar}}
     
     <div class="loginfrm-container">

        <form action="/login" method="POST" class="login-form-container">
        <div class="head-login-content">
          <h3>Employee Login form</h3>
        </div>
        <div class="main-login-container">
          <input type="email" name="email" placeholder="Enter Email*" required>
          <input type="password" name="password" placeholder="Enter Password*" required>
          <button type="submit">Sign in</button>
        </div>
        <div class="foot-login">
          <input type="radio"> <span>Remember me <span id="spn">Need help?</span></span>
        </div>
        <div class="new-acount">
          <a href="/register">Create an account</a>
        </div>
      </form>
      
     </div>
      </form>
     </div>
  </body>
</html>