<header>
  <img src="image/night1.jpg" />
  <nav>
    <div class="title">
      <h3>Shubham Singh</h3>
    </div>
    <div class="links">
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/register">Registration</a>
    </div>
  </nav>
  <div class="main-title">
    <h1>Welcome TO MERN Backend Website</h1>
    <p>I am a web developer</p>
  </div>
</header>